<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ach.mapper.InstallmentMapper">
    
    <resultMap type="Installment" id="InstallmentResult">
        <result property="id"    column="id"    />
        <result property="clientName"    column="client_name"    />
        <result property="clientId"    column="client_id"    />
        <result property="carNumber"    column="car_number"    />
        <result property="engineNumber"    column="engine_number"    />
        <result property="registerDate"    column="register_date"    />
        <result property="mobile"    column="mobile"    />
        <result property="installmentTotal"    column="installment_total"    />
        <result property="installmentCircle"    column="installment_circle"    />
        <result property="agentId"    column="agent_id"    />
        <result property="approvalStatus"    column="approval_status"    />
    </resultMap>
	
	<sql id="selectInstallmentVo">
        select id, client_name, client_id, car_number, engine_number, register_date, mobile, installment_total, installment_circle, agent_id, approval_status from installment
    </sql>
	
    <select id="selectInstallmentList" parameterType="Installment" resultMap="InstallmentResult">
        <include refid="selectInstallmentVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="clientName != null  and clientName != '' "> and client_name = #{clientName}</if>
             <if test="clientId != null  and clientId != '' "> and client_id = #{clientId}</if>
             <if test="carNumber != null  and carNumber != '' "> and car_number = #{carNumber}</if>
             <if test="engineNumber != null  and engineNumber != '' "> and engine_number = #{engineNumber}</if>
             <if test="registerDate != null "> and register_date = #{registerDate}</if>
             <if test="mobile != null  and mobile != '' "> and mobile = #{mobile}</if>
             <if test="installmentTotal != null "> and installment_total = #{installmentTotal}</if>
             <if test="installmentCircle != null "> and installment_circle = #{installmentCircle}</if>
             <if test="agentId != null "> and agent_id = #{agentId}</if>
             <if test="approvalStatus != null "> and approval_status = #{approvalStatus}</if>
         </where>
    </select>
    
    <select id="selectInstallmentById" parameterType="Integer" resultMap="InstallmentResult">
        <include refid="selectInstallmentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertInstallment" parameterType="Installment" useGeneratedKeys="true" keyProperty="id">
        insert into installment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="clientName != null  and clientName != ''  ">client_name,</if>
			<if test="clientId != null  and clientId != ''  ">client_id,</if>
			<if test="carNumber != null  and carNumber != ''  ">car_number,</if>
			<if test="engineNumber != null  and engineNumber != ''  ">engine_number,</if>
			<if test="registerDate != null  ">register_date,</if>
			<if test="mobile != null  and mobile != ''  ">mobile,</if>
			<if test="installmentTotal != null  ">installment_total,</if>
			<if test="installmentCircle != null  ">installment_circle,</if>
			<if test="agentId != null  ">agent_id,</if>
			<if test="approvalStatus != null  ">approval_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="clientName != null  and clientName != ''  ">#{clientName},</if>
			<if test="clientId != null  and clientId != ''  ">#{clientId},</if>
			<if test="carNumber != null  and carNumber != ''  ">#{carNumber},</if>
			<if test="engineNumber != null  and engineNumber != ''  ">#{engineNumber},</if>
			<if test="registerDate != null  ">#{registerDate},</if>
			<if test="mobile != null  and mobile != ''  ">#{mobile},</if>
			<if test="installmentTotal != null  ">#{installmentTotal},</if>
			<if test="installmentCircle != null  ">#{installmentCircle},</if>
			<if test="agentId != null  ">#{agentId},</if>
			<if test="approvalStatus != null  ">#{approvalStatus},</if>
         </trim>
    </insert>
	 
    <update id="updateInstallment" parameterType="Installment">
        update installment
        <trim prefix="SET" suffixOverrides=",">
            <if test="clientName != null  and clientName != ''  ">client_name = #{clientName},</if>
            <if test="clientId != null  and clientId != ''  ">client_id = #{clientId},</if>
            <if test="carNumber != null  and carNumber != ''  ">car_number = #{carNumber},</if>
            <if test="engineNumber != null  and engineNumber != ''  ">engine_number = #{engineNumber},</if>
            <if test="registerDate != null  ">register_date = #{registerDate},</if>
            <if test="mobile != null  and mobile != ''  ">mobile = #{mobile},</if>
            <if test="installmentTotal != null  ">installment_total = #{installmentTotal},</if>
            <if test="installmentCircle != null  ">installment_circle = #{installmentCircle},</if>
            <if test="agentId != null  ">agent_id = #{agentId},</if>
            <if test="approvalStatus != null  ">approval_status = #{approvalStatus},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteInstallmentById" parameterType="Integer">
        delete from installment where id = #{id}
    </delete>
	
    <delete id="deleteInstallmentByIds" parameterType="String">
        delete from installment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>