<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								客户名称：<input type="text" name="clientName"/>
							</li>

							<li>
								客户身份证号：<input type="text" name="clientId"/>
							</li>

							<!--<li>-->
								<!--客户车牌号：<input type="text" name="carNumber"/>-->
							<!--</li>-->

							<!--<li>-->
								<!--客户发动机号：<input type="text" name="engineNumber"/>-->
							<!--</li>-->

							<!--<li>-->
								<!--初次登记日期：<input type="text" name="registerDate"/>-->
							<!--</li>-->

							<li>
								客户手机号码：<input type="text" name="mobile"/>
							</li>

							<!--<li>-->
								<!--分期总额：<input type="text" name="installmentTotal"/>-->
							<!--</li>-->

							<!--<li>-->
								<!--分期周期：<input type="text" name="installmentCircle"/>-->
							<!--</li>-->

							<!--<li>-->
								<!--分销商id：<input type="text" name="agentId"/>-->
							<!--</li>-->

							<li>
								审批状态：
								<select>
									<option th:value=true>通过</option>
									<option th:value=false>未通过</option>
								</select>
								<!--审批状态：< type="text" name="approvalStatus"/>-->
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="ach:installment:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="ach:installment:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="ach:installment:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="ach:installment:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('ach:installment:edit')}]];
        var removeFlag = [[${@permission.hasPermi('ach:installment:remove')}]];
        var prefix = ctx + "ach/installment";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "分期",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '分期账单id',
					visible: false
				},
				{
					field : 'clientName', 
					title : '客户名称',
					sortable: true
				},
				{
					field : 'clientId', 
					title : '客户身份证号',
					sortable: true
				},
				{
					field : 'carNumber', 
					title : '客户车牌号',
					sortable: true
				},
				{
					field : 'engineNumber', 
					title : '客户发动机号',
					sortable: true
				},
				{
					field : 'registerDate', 
					title : '初次登记日期',
					sortable: true
				},
				{
					field : 'mobile', 
					title : '客户手机号码',
					sortable: true
				},
				{
					field : 'installmentTotal', 
					title : '分期总额',
					sortable: true
				},
				{
					field : 'installmentCircle', 
					title : '分期周期',
					sortable: true
				},
				// {
				// 	field : 'agentId',
				// 	title : '分销商id',
				// 	sortable: true
				// },
				{
					field : 'approvalStatus', 
					title : '审批状态',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>